<!doctype html>
<head>
  <meta charset="utf-8">
  <title>...</title>
  <meta name="description" content="...">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">

  <script src="/src/vendor/webtorrent.min.js"></script>
  <script src="/src/load-magnet.js"></script>

  <style>
    html, body, iframe {
      height: 100%;
      width: 100%;
      border: none;
    }
  </style>
</head>

<body>
  <iframe id="container" src="/views/container-loading.html" />
</body>

</html>
