body {
  width: 360px;
  min-height: 100px;
  padding: 0px 10px;
}

.torrent-section {
  margin: 15px 0px;
}

#peers-icon,
#upload-icon,
#download-icon {
  margin-right: 10px;
}

#download-icon {
  margin-left: 15px;
}

.bp3-progress-bar {
  margin: -10px 0;
}

.meta {
  color: #5c7080;
}

.bp3-button-group {
  width: 100%;
  text-align: center;
}

#manage-webtorrents {
  margin: 5px auto;
}
